<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Address</th>
      <th scope="col">Description</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @firms.each do |firm| %>
      <% category = firm.category %>
      <tr>
        <td><%= firm.id %> </td>
        <td><%= firm.name %></td>
        <td><%= firm.category.name %></td>
        <td><%= firm.address %></td>
        <td><%= firm.description %></td>
        <td><%= firm.phone_number %></td>
        <td> <%= status(firm.status) %> </td>
        <td>
          <div>
            <%= link_to edit_category_firm_path(category, firm), method: :get do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= button_to 'X', category_firm_path(category, firm), class: "btn-small btn-danger", method: :delete %>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
