<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Attachment</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Image</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td>
          <% unless article.attachments.nil? %>
          <% article.attachments.each do |attachment| %>
            <%= image_tag attachment.resource_url, class: "rounded", style: "width: 120; height: 120; object-fit: cover;" %>
          <% end %>
        <% end %>
        </td>
        <td><%= article.description %></td>
        <td> <%= status(article.status) %> </td>
        <td> 
        <% unless article.attachments.nil? %>
          <% article.attachments.each do |attachment| %>
            <%= image_tag attachment.resource_url, class: "rounded", style: "width: 250px; height: 200px; object-fit: cover;", loading: "lazy" %>
          <% end %>
        <% end %>
        </td>
        <td> <%= article.user&.display %> </td>
        <td>
          <%= button_to 'Edit', edit_article_path(article), class: "btn btn-outline-success", method: :get, data: {conarticle: "Are you sure?"} %>
          <%= button_to 'Destroy', article_path(article), class: "btn btn-outline-danger", method: :delete, data: {conarticle: "Are you sure?"} %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
