<h1> Edit: <%= @user.name %> </h1>
<%= form_for [@user] do |user| %>
  <div class="form-group">
    <div class="row">
      <div class="col"> <%= user.text_field :name, class: 'form-control', placeholder: 'Name' %> </div>
      <div class="col"> <%= user.text_field :mobile, class: 'form-control', placeholder: 'Mobile Number', type: 'mobile number' %> </div>
      <div class="col"> <%= user.text_field :email, class: 'form-control', placeholder: 'Email', type: 'Email' %> </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col"><%= user.select :role, User.roles.map(&:first), {prompt:'select'}, {class: "form-control"}%> </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col"> <%= user.submit class: 'btn btn-primary' %> </div>
    </div>
  </div>
<% end %>
