<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Role</th>
      <th scope="col">Is Verified</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %> </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
        <td><%= user.role %></td>
        <td><%= user.is_verified? %></td>
        <td><%= user.created_at %></td>
      
        <td>
          <div>
            <%= button_to 'Edit', edit_user_path(user), class: "btn btn-outline-success", method: :get %>
            <%= button_to 'X', user_path(user), class: "btn-small btn-danger", method: :delete %>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
